<html lang="en">
<head>
    <title>Blog notification</title>
</head>


<body style="text-align: center;background-color: #000066;color: white !important;padding: 20px">
<div>
    <p style="margin-bottom: 10px">Hey there, thanks for subscribing!</p>
    <p>
        I really appreciate that you like what I do</p>
    <p>
        Hope you enjoy future updates! But remember, you can always unsubscribe by clicking on the link below.</p>
    <a style="color: white;background-color: #FF6464;padding: 5px" href={{link}}>Unsubscribe</a>
    <p>Thank you,</p>
    <p>Ivan</p>
</div>
</body>
</html>