<html lang="ua">
<head>
    <title>Сповіщення блогу</title>
</head>


<body style="text-align: center;background-color: #000066;color: white;padding: 20px">
<div>
    <p style="margin-bottom: 10px">Привіт, дякую за підписку!</p>
    <p>Я хотів повідомити вам, що щойно опублікував новий допис у своєму блозі, який, я впевнений, буде вам корисний.</p>
    <a style="color: white;background-color: #FF6464;padding: 5px" href={{link}}>Натисніть тут, щоб переконатися в цьому</a>
    <p>Будь ласка, поділіться ним із друзями, якщо ви вважаєте, що вони знайдуть це корисним.</p>
    <p>Дякую,</p>
    <p>Іван</p>
    <p style="color: #e3e3e3">Хочете відмовитися від підписки? Натисніть  <a style="color: #f1bd79" href={{unsubscribe_link}}>на це</a> посилання</p>
</div>
</body>
</html>