<html lang="en">
<head>
    <title>Blog notification</title>
</head>


<body style="text-align: center;background-color: #000066;color: white !important;padding: 20px">
<div>
    <p style="margin-bottom: 10px">Hey there, thanks for being subscribed!</p>
    <p>I wanted to let you know I just published a new post on my blog that I am sure you’ll find useful.</p>
    <a style="color: white;background-color: #FF6464;padding: 5px" href={{link}}>Click here to check it out</a>
    <p>Please share it with your friends if you feel they will find it useful.</p>
    <p>Thank you,</p>
    <p>Ivan</p>
    <p style="color: #e3e3e3">Wanna unsubscribe? Click <a style="color: #f1bd79" href={{unsubscribe_link}}>this</a> link</p>
</div>
</body>
</html>