<html lang="ua">
<head>
    <title>Сповіщення блогу</title>
</head>


<body style="text-align: center;background-color: #000066;color: white !important;padding: 20px">
<div>
    <p style="margin-bottom: 10px">Привіт, дякую за підписку!</p>
    <p>
        Я дуже ціную, що тобі подобається те, що я роблю</p>
    <p>

        Сподіваюся, вам сподобаються майбутні оновлення! Але пам’ятайте, що ви завжди можете скасувати підписку,
        натиснувши посилання нижче.</p>
    <a style="color: white;background-color: #FF6464;padding: 5px" href={{link}}>
        Відписатися</a>
    <p>Дякую,</p>
    <p>Іван</p>
</div>
</body>
</html>