<html lang="ru">
<head>
    <title>Blog notification</title>
</head>


<body style="text-align: center;background-color: #000066;color: white;padding: 20px">
<div>
    <p style="margin-bottom: 10px">Привет, спасибо за подписку!</p>
    <p>Я хотел, чтобы вы знали, что я только что опубликовал новый пост в своем блоге, который, я уверен, вы найдете полезным.</p>
    <a style="color: white;background-color: #FF6464;padding: 5px" href="https://localhost">Нажмите здесь, чтобы в этом убедиться</a>
    <p>Пожалуйста, поделитесь им с друзьями, если вы считаете, что они найдут его полезным.</p>
    <p>Спасибо,</p>
    <p>Иван</p>
    <p style="color: #e3e3e3">Хотите отказаться от подписки? Нажмите <a style="color: #f1bd79" href={{unsubscribe_link}}>на эту</a> ссылку</p>
</div>
</body>
</html>